*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
}
.full-page{
    height: 100%;
    width: 100%;
    position: absolute;
}
.nav-bar{
    display: flex;
    align-items: center;
    padding: 20px;
    background: #a5b8b4;
}
.nav-bar .logo{
    color: #fff;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 70px;
}
nav a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}
.active, a:active{
    background-color: #bde7de;
    padding: 5px;
    border-radius: 3px;
}
/* #menu-items a:hover{
    background-color: #bde7de;
    padding: 3px;
    border-radius: 3px;
} */
.head-content{
    background-image: url(/activity1/images/nynne-schroder-unsplash-A0xnbgZ4WxTJlN3R.webp);
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    /* width: 1200px; */
    height: 500px;
    margin: auto;
    position: relative;
}
.head-content .head1{
    font-size: 60px;
    padding-left: 150px;
    padding-top: 100px;
}
.head-content .par{
    font-size: 20px;
    padding-left: 150px;
    padding-top: 30px;
    line-height: 25px;
    letter-spacing: 0.5px;
    padding-bottom: 70px;
}
.head-content .link{
    padding: 17px;
    margin-left: 150px;
    border-radius: 4px;
    background-color: #a5b8b4;
    font-size: 18px;
    /* padding: 12px 15px; */
}
.head-content a{
    text-decoration: none;
    color: #fff;
}
.center-content{
    text-align: center;
    padding-top: 60px;
}
.center-content h1{
    font-size: 30px;
}
.center-content p{
    padding-top: 20px;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.5px;
}
.images{
    display: flex;
    /* align-items: center; */
}
.images img{
    /* display: inline-block; */
    margin: 50px 20px 50px 70px;
}
#content2{
    display: flex;
    margin-bottom: 20px;
}
.story{
    padding-left: 150px;
    padding-top: 30px;
}
.story h4{
    font-size: 12px;
}
.story h1{
    margin-top: 20px;
}
.story p{
    padding-top: 20px;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.4px;
}
#content2 img{
    margin-left: 240px;
}

/* About */
.content3{
    text-align: center;
    padding-top: 50px;
    font-size: 18px;
}
.content3 p{
    padding-top: 30px;
    font-size: 18px;
}
.content4{
    font-size: 18px;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 30px;
    line-height: 25px;
    /* letter-spacing: 2px; */
}
.contact{
    margin-top: 50px;
    margin-left: 120px;
    display: flex;
}
/* contact */
.contact{
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 20px;
}
.contact-form{
    margin-left: 150px;
    /* margin-right: 200px; */
    border-radius: 4px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 40%;
}
.form input,textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    /* width: 400px; */
}
.form button{
    font-size: 20px;
    width: 100%;
    background-color: #a5b8b4;;
    color: #fff;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.form button:hover{
    background-color: #bde7de;
}
/* footer */
footer{
    background-color: #a5b8b4 ;
}
.footer{
    display: flex;
    padding: 20px 120px 20px 120px;
    color: #fff;
    /* line-height: 30px; */
    /* padding: 20px; */
}
.footer1{
    padding-right: 70px;
}
